<h1>Event#index</h1>
 
 <table class="table">
   <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
   <% @events.each do |event| -%>
    <tr>
       <td> <%= event.title %> </td>
       <td> <%= event.description %> </td>
       <td> <%= link_to  "Destroy", events_path + '/' + event.id.to_s , method: :delete %> </td>

    </tr>
    <% end -%>
  </tbody>
</table>

<%= link_to  "Create Event", events_new_path %>
