<h1>Welcome <%= @curent_user.name%></h1>
 
 <table class="table">
   <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
   <% @curent_user.events.each do |event| -%>
    <tr>
       <td> <%= event.title %> </td>
       <td> <%= event.title %> </td>
    </tr>
    <% end -%>
  </tbody>
</table>

<%= link_to  "Create Event", events_new_path %>
